body {
  background-color: rgb(0,0,0);
  font-family: courier;
  color: rgb(255,255,255);
  text-align: center;
  margin: 0;
  padding-top: 5rem;
}
ul.nav {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background color: white;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
img {
  border-radius: 50%;
  width: 30%;
  height: auto;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 22px;
}
input {
  border: 0;
  paddling: 10px;
  font-size: 18px;
  text-align: center;
}
input[type="submit"] {
  background: red;
  color: white;
  text-align: center;
}
<<<<<<< HEAD
=======
img {
  border-radius: 50%;
  width: 30%;
  height: auto;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background color: white;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
>>>>>>> e756860892c7f664aafed2d42563031f438ce3e3
