body {
  background-color: rgb(0,0,0);
  font-family: courier;
  margin: 0;
  padding-top: 5rem;
}
ul.nav {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background color: white;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1 {
  text-align: center;
  color: rgb(255,255,255)
}
.carousel-inner{
  height: 100%;
  width: 40%;
  margin: 0 auto;
  max-height: 800px
}
.carousel-item{
  padding-top: 10px;
  max-height: 550px
}
.social-icons {
  transform: scale(1);
}
.social-icons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icon {
  opacity: 100;
  transition: opacity .3s;
}
.social-icon svg {
  overflow: visible !important;
}
.social-icon .si-splash,
.social-icon .si-grid {
  display: none;
  visibility: hidden;
}
.social-icon .si-icon {
  transform-origin: "center center";
